@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<h4>Add a new Treat</h4>
@using (Html.BeginForm())
{
  <p>@Html.Label("Name: ")</p>
  <p>@Html.TextBoxFor(model => model.TreatName)</p>
  <hr>
  <p>@Html.Label("Description: ")</p>
  <p>@Html.TextBoxFor(model => model.TreatDescription)</p>
  <hr>
  <p>@Html.Label("Price: ")</p>
  <p>@Html.TextBoxFor(model => model.TreatPrice)</p>
  <hr>
  <p>@Html.Label("Stock: ")</p>
  <p>@Html.EditorFor(model => model.Inventory)</p>
  <hr>
  <input type="submit" value="Add new Treat" />
}

<nav class="navbar fixed-bottom navbar-expand-xl navbar-dark bg-light"> 
  <button class="btn btn-lg btn-outline-dark">@Html.ActionLink("Show all Treats", "Index")</button>
  @if (User.Identity.IsAuthenticated)
  {
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="form-control ms-5 btn btn-lg btn-danger" value="Logout"/>
    }
  }
</nav>